{% extends 'base.html.twig' %}

{% block title %}Création Article{% endblock %}

{% block body %}

<div>
    <h1>Création d'un nouvel article</h1>

    <!-- Form création d'article -->
    <div class="w-50">
        {{ form(form_post, {'method' : 'POST'}) }}
    </div>

</div>

{% endblock %}