@import "~bootswatch/dist/yeti/variables"; // Import yeti variables (bootswatch)
@import "~bootstrap/scss/bootstrap"; // Import bootstrap style
@import "~bootswatch/dist/yeti/bootswatch"; // Import yeti (bootswatch)

/* ___Variables___ */

// colors
$colorBestBlue : #0ea2f8;
$colorBackGroundLightGray: #ebebeb;
$colorLightBlackText: #2c2c2c;

// Utilis
$fontSize : 19px;

body {
    // background-color: $pink;
}
/* Utilis */
h1{
    color: $colorBestBlue;
}

p{
    color: $colorLightBlackText;
    font-size: $fontSize;
}

/* Main */
.content-main{
    height: 100vh;
}