@import "~@fortawesome/fontawesome-free/css/all"; // Import fontawesome
@import "~bootswatch/dist/yeti/variables"; // Import yeti variables (bootswatch)
@import "~bootstrap/scss/bootstrap"; // Import bootstrap style
@import "~bootswatch/dist/yeti/bootswatch"; // Import yeti (bootswatch)

/* ___Variables___ */
// colors
$colorBestBlue : #0ea2f8;
$colorBackGroundLightGray: #ebebeb;
$colorLightBlackText: #2c2c2c;

// Utilis
$fontSize : 19px;

/* Utilis */
h1{
    color: $colorBestBlue;
}

p{
    color: $colorLightBlackText;
    font-size: $fontSize;
}

/* messages */
#messages {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    top: 62px;
    right: 0;
    left: 0;
    z-index: 1020;
   /*  opacity: 0.80; */
}

/* Main */
.content-main{
    // height: 60vh;
}