<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <!-- CSS Commentary -->
    <style>
        .box-content-user-comment{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0.1rem;
        }
        .box-img-user-comment{
            padding: 0.1rem;
        }
        .box-img-user-comment img{
            box-shadow: 3px 3px 5px #6c6c6c;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .box-infos-user-comment{
            padding: 0;
        }
        .box-infos-user-comment span{
            font-size: 14px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: italic;
        }
    </style>

</head>

<body>

    <!-- Header -->
    <header>
        <!-- Nav -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            {% include '_includes/_base.nav.html.twig' %}
        </nav>

        <!-- message flash -->
        <div id="messages" class="text-center m-auto">
            {% include '_includes/_base.messages.html.twig' %}
        </div>
    </header>

    <!-- Main -->
    <main class="container mt-4 mb-4">
        <!-- Content -->
        <div class="content-main">
            {% block body %}{% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer id="sticky-footer" class="flex-shrink-0 py-4">
        {% include '_includes/_base.footer.html.twig' %}
    </footer>

</body>

</html>