{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}

<div class="text-center">
    <h1>Erreur 404 Not Found</h1>
    <i class="fa-solid fa-2x fa-arrows-spin"></i>

    <div>
        <p>
            La page demandée est introuvable
        </p>
    </div>
</div>


{% endblock %}